@use "variables";
@use "mixins";

.card-two.item {
    // width: 31% !important;

    height: mixins.rem(312px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-image: linear-gradient(180deg,
            rgba(211, 135, 255, 0.6) 0%,
            rgba(255, 135, 201, 0) 100%);
    position: relative;

    padding: 0;
    margin: 0;
    overflow: hidden;
    padding: 1px;

    @include mixins.breakpoint(md) {
        width: 48% !important;
    }

    @include mixins.breakpoint(sm) {
        width: 100% !important;
    }

    & .content {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background: #0e0417;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: mixins.rem(25px);
        gap: 20px;
        position: relative;
        z-index: 1;

        & .icon {
            width: 64px;
            height: 64px;
            border: 1px solid rgba(112, 66, 210, 0.4666666667);
            border-radius: 18px;
            border-width: 1px;
            padding: 18px;
            backdrop-filter: blur(10px);
            background-image: linear-gradient(180deg,
                    rgb(211 135 255 / 0%) 0%,
                    rgb(211 135 255 / 11%) 100%);
            overflow: hidden;
        }

        & .text {
            text-align: center;

            & h3 {
                font-family: "Darker Grotesque", sans-serif;
                font-weight: 700;
                font-size: 28px;
                line-height: 104%;
                // width: 70%;
                text-align: center;
                color: #fff;

                margin: 0 auto;
            }

            & p {
                margin-top: 20px;
                font-family: " DM Sans", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 128%;
                text-align: center;
                color: #fff;
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50px;
            transform: translate(100%, 100%);
            z-index: -1;

            background: linear-gradient(110.78deg,
                    rgba(184, 12, 255, 0.3) 46.59%,
                    rgba(67, 2, 234, 0.3) 72.52%,
                    rgba(46, 0, 142, 0.3) 86.45%);
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            & .icon {
                box-shadow: 0px 16px 28px 0px rgba(13, 3, 22, 0.3019607843);
                background-image: linear-gradient(180deg,
                        rgb(211 135 255 / 1%) 0%,
                        rgb(211 135 255 / 20%) 100%);
                border: 1px solid rgba(182, 12, 255, 0.3490196078);

                & img {
                    filter: brightness(0) invert(1);
                }
            }

            &::after {
                width: 100%;
                height: 100%;
                transform: translate(0, 0);
                border-radius: 10px;
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}

.card-three.item {
    // width: 31% !important;

    height: mixins.rem(312px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-image: linear-gradient(180deg,
            rgba(211, 135, 255, 0.6) 0%,
            rgba(255, 135, 201, 0) 100%);
    position: relative;

    padding: 0;
    margin: 0;
    overflow: hidden;
    padding: 1px;


    @include mixins.breakpoint(md) {
        width: 48% !important;
    }

    @include mixins.breakpoint(sm) {
        width: 100% !important;
    }

    & .content {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background: #0e0417;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: mixins.rem(25px);
        gap: 20px;
        position: relative;
        z-index: 1;

        & .icon {
            width: 64px;
            height: 64px;
            border: 1px solid rgba(112, 66, 210, 0.4666666667);
            border-radius: 18px;
            border-width: 1px;
            padding: 18px;
            backdrop-filter: blur(10px);
            background-image: linear-gradient(180deg,
                    rgb(211 135 255 / 0%) 0%,
                    rgb(211 135 255 / 11%) 100%);
            overflow: hidden;
        }

        & .text {
            text-align: center;

            & h3 {
                font-family: "Darker Grotesque", sans-serif;
                font-weight: 700;
                font-size: 28px;
                line-height: 104%;
                // width: 70%;
                text-align: center;
                color: #fff;

                margin: 0 auto;
            }

            & p {
                margin-top: 20px;
                font-family: " DM Sans", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 128%;
                text-align: center;
                color: #fff;
            }
        }
        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            & .btn{
                border: 1px solid rgba(112, 66, 210, 0.155);
                border-radius: 20px;
                border-width: 1px;
                color : #ffffff4c;
                transition: all 0.5s ease-in-out;
                &:hover{
                       border: 1px solid rgba(150, 117, 220, 0.818);
                }
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50px;
            transform: translate(100%, 100%);
            z-index: -1;

            background: linear-gradient(110.78deg,
                    rgba(184, 12, 255, 0.3) 46.59%,
                    rgba(67, 2, 234, 0.3) 72.52%,
                    rgba(46, 0, 142, 0.3) 86.45%);
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            & .icon {
                box-shadow: 0px 16px 28px 0px rgba(13, 3, 22, 0.3019607843);
                background-image: linear-gradient(180deg,
                        rgb(211 135 255 / 1%) 0%,
                        rgb(211 135 255 / 20%) 100%);
                border: 1px solid rgba(182, 12, 255, 0.3490196078);

                & img {
                    filter: brightness(0) invert(1);
                }
            }
            .buttons .btn{

                background: linear-gradient(110.78deg,
                        rgba(184, 12, 255, 0.3) 46.59%,
                        rgba(67, 2, 234, 0.3) 72.52%,
                        rgba(46, 0, 142, 0.3) 86.45%);
                        color: #ffffff;
                        box-shadow: 0px 16px 28px 0px rgba(13, 3, 22, 0.3019607843);
                        transition: all 0.3s ease-in-out;
            }

            &::after {
                width: 100%;
                height: 100%;
                transform: translate(0, 0);
                border-radius: 10px;
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}

.fire {
	font-size: 24px;
	filter: blur(3px);
	-webkit-filter: blur(3px);
	margin: 3em auto 0 auto;
	position: relative;
	width: 10em;
	height: 12em;
}
.particle {
	animation: rise 2s ease-in infinite;
	background-image: radial-gradient(#FFC67A 20%, #FFA07A 70%);
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: 1em;
	height: 1em;
	// spread particles out in time and x-position to get desired effect
	@for $p from 1 through 10 {
		&:nth-of-type(#{$p}) {
			animation-delay: 2s * random();
			left: calc((100% - 1em) * #{($p - 1)/10});
		}
	}
}
@keyframes rise {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
	25% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-10em) scale(0);
	}
}
