@use "variables";
@use "mixins";

.card-two.item {
    // width: 31% !important;

    height: mixins.rem(312px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-image: linear-gradient(180deg,
            rgba(211, 135, 255, 0.6) 0%,
            rgba(255, 135, 201, 0) 100%);
    position: relative;

    padding: 0;
    margin: 0;
    overflow: hidden;
    padding: 1px;

    @include mixins.breakpoint(md) {
        width: 48% !important;
    }

    @include mixins.breakpoint(sm) {
        width: 100% !important;
    }

    & .content {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background: #0e0417;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: mixins.rem(25px);
        gap: 20px;
        position: relative;
        z-index: 1;

        & .icon {
            width: 64px;
            height: 64px;
            border: 1px solid rgba(112, 66, 210, 0.4666666667);
            border-radius: 18px;
            border-width: 1px;
            padding: 18px;
            backdrop-filter: blur(10px);
            background-image: linear-gradient(180deg,
                    rgb(211 135 255 / 0%) 0%,
                    rgb(211 135 255 / 11%) 100%);
            overflow: hidden;
        }

        & .text {
            text-align: center;

            & h3 {
                font-family: "Darker Grotesque", sans-serif;
                font-weight: 700;
                font-size: 28px;
                line-height: 104%;
                // width: 70%;
                text-align: center;
                color: #fff;

                margin: 0 auto;
            }

            & p {
                margin-top: 20px;
                font-family: " DM Sans", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 128%;
                text-align: center;
                color: #fff;
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50px;
            transform: translate(100%, 100%);
            z-index: -1;

            background: linear-gradient(110.78deg,
                    rgba(184, 12, 255, 0.3) 46.59%,
                    rgba(67, 2, 234, 0.3) 72.52%,
                    rgba(46, 0, 142, 0.3) 86.45%);
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            & .icon {
                box-shadow: 0px 16px 28px 0px rgba(13, 3, 22, 0.3019607843);
                background-image: linear-gradient(180deg,
                        rgb(211 135 255 / 1%) 0%,
                        rgb(211 135 255 / 20%) 100%);
                border: 1px solid rgba(182, 12, 255, 0.3490196078);

                & img {
                    filter: brightness(0) invert(1);
                }
            }

            &::after {
                width: 100%;
                height: 100%;
                transform: translate(0, 0);
                border-radius: 10px;
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}

.card-three.item {
    // width: 31% !important;

    height: mixins.rem(312px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-image: linear-gradient(180deg,
            rgba(211, 135, 255, 0.6) 0%,
            rgba(255, 135, 201, 0) 100%);
    position: relative;

    padding: 0;
    margin: 0;
    overflow: hidden;
    padding: 1px;


    @include mixins.breakpoint(md) {
        width: 48% !important;
    }

    @include mixins.breakpoint(sm) {
        width: 100% !important;
    }

    & .content {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background: #0e0417;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: mixins.rem(25px);
        gap: 20px;
        position: relative;
        z-index: 1;

        & .icon {
            width: 64px;
            height: 64px;
            border: 1px solid rgba(112, 66, 210, 0.4666666667);
            border-radius: 18px;
            border-width: 1px;
            padding: 18px;
            backdrop-filter: blur(10px);
            background-image: linear-gradient(180deg,
                    rgb(211 135 255 / 0%) 0%,
                    rgb(211 135 255 / 11%) 100%);
            overflow: hidden;
        }

        & .text {
            text-align: center;

            & h3 {
                font-family: "Darker Grotesque", sans-serif;
                font-weight: 700;
                font-size: 28px;
                line-height: 104%;
                // width: 70%;
                text-align: center;
                color: #fff;

                margin: 0 auto;
            }

            & p {
                margin-top: 20px;
                font-family: " DM Sans", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 128%;
                text-align: center;
                color: #fff;
            }
        }
        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            & .btn{
                border: 1px solid rgba(112, 66, 210, 0.155);
                border-radius: 20px;
                border-width: 1px;
                color : #ffffff4c;
                transition: all 0.5s ease-in-out;
                &:hover{
                       border: 1px solid rgba(150, 117, 220, 0.818);
                }
            }
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50px;
            transform: translate(100%, 100%);
            z-index: -1;

            background: linear-gradient(110.78deg,
                    rgba(184, 12, 255, 0.3) 46.59%,
                    rgba(67, 2, 234, 0.3) 72.52%,
                    rgba(46, 0, 142, 0.3) 86.45%);
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            & .icon {
                box-shadow: 0px 16px 28px 0px rgba(13, 3, 22, 0.3019607843);
                background-image: linear-gradient(180deg,
                        rgb(211 135 255 / 1%) 0%,
                        rgb(211 135 255 / 20%) 100%);
                border: 1px solid rgba(182, 12, 255, 0.3490196078);

                & img {
                    filter: brightness(0) invert(1);
                }
            }
            .buttons .btn{

                background: linear-gradient(110.78deg,
                        rgba(184, 12, 255, 0.3) 46.59%,
                        rgba(67, 2, 234, 0.3) 72.52%,
                        rgba(46, 0, 142, 0.3) 86.45%);
                        color: #ffffff;
                        box-shadow: 0px 16px 28px 0px rgba(13, 3, 22, 0.3019607843);
                        transition: all 0.3s ease-in-out;
            }

            &::after {
                width: 100%;
                height: 100%;
                transform: translate(0, 0);
                border-radius: 10px;
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}

// profile card
.profile-card-badge{
    display: flex;
    background-color: #605F69;
    border-radius: 20px;
    padding: 20px;
    & .details{
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        & .profile-image{
            width: 100px;
            height: 100px;
            border-radius: 10px;
            padding: 6px;
            overflow: hidden;
            background-color: #D9D9D9;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
        & .profile-name{
            & .title{
                font-family: "Darker Grotesque", sans-serif;
                font-weight: 700;
                font-size: 28px;
                line-height: 150%;
                color: #fff;
                letter-spacing: mixins.rem(1px);
                text-transform: capitalize;
            }
            & .sub-text{
                font-family: "poppins", sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #fff;
                letter-spacing: mixins.rem(1px);
            }
        }
    }
    & .badge{
        width: fit-content;
        border-radius: 0 20px 20px 0;
        max-width: 100px ;
        & img{
            filter: drop-shadow(2px 2px 5px rgba(13, 3, 22, 0.3019607843));
        }

    }
}
.profile-card-badge-small{
    display: flex;
    background-color: #605F69;
    border-radius: 10px;
    padding: 5px 6px;

    & .details{
          flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex-direction: row;

        & .profile-image{
              width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 6px;
    overflow: hidden;
    background-color: #D9D9D9;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        & .profile-name{
            & .title{
                font-family: "Darker Grotesque", sans-serif;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: #fff;
                letter-spacing: mixins.rem(1px);
                text-transform: capitalize;
            }
            & .sub-text{
                font-family: "poppins", sans-serif;
                font-weight: 400;
                font-size: 8px;
                line-height: 150%;
                color: #fff;

                letter-spacing: mixins.rem(1px);
            }
        }
    }
    & .badge{
       width: fit-content;
        border-radius: 0 20px 20px 0;
        max-width: 55px;
        display: flex;

        & img{
            height: auto;
            filter: drop-shadow(2px 2px 5px rgba(13, 3, 22, 0.3019607843));
        }

    }
}
//stats card
.stats-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    height: 100%;
    & .stat{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background:#605F69;
        border-radius: 14px;
        padding: 5px;
        height: 100%;
         @include mixins.breakpoint(md){
             background:transparent;
              gap: 6px;
         }
        & .title{
            font-family: "montserrat", sans-serif;
            font-weight: 700;
            font-size: mixins.rem(28px);
            line-height: 150%;
            color: #fff;
            letter-spacing: mixins.rem(1px);
            @include mixins.breakpoint(md){
                font-size: mixins.rem(20px);
            }
        }
        & .sub-text{

            font-family: "poppins", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #fff;
            letter-spacing: mixins.rem(1px);
            text-transform: uppercase;
            @include mixins.breakpoint(md){
                font-size: 10px;
            }
        }
    }
}
