/* resources/css/app.css */
@import 'tailwindcss';

@import 'boxicons/css/boxicons.min.css';
@plugin 'tailwind-scrollbar';


[x-cloak] {
    display: none !important;
}
.blinking-cursor {
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 6px;
    right: auto;
    background: #808080a1;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 6px;
    left: auto;
    background: #808080a1;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}
