/* resources/css/app.css */
@import 'tailwindcss';

@plugin 'tailwind-scrollbar';
@import 'boxicons/css/boxicons.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.x-cloak {
    display: none;
}
.blinking-cursor {
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 6px;
    right: auto;
    background: #808080a1;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 6px;
    left: auto;
    background: #808080a1;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}
